{
  "openapi": "3.0.2",
  "info": {
    "title": "Twilio REST API",
    "description": "This is the public Twilio REST API.",
    "termsOfService": "https://www.twilio.com/legal/tos",
    "contact": {
      "name": "Twilio Support",
      "url": "https://support.twilio.com",
      "email": "support@twilio.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "81ff5a4"
  },
  "paths": {
    "/v1/Credentials": {
      "servers": [
        {
          "url": "https://notify.twilio.com"
        }
      ],
      "get": {
        "description": null,
        "parameters": [],
        "responses": null
      },
      "post": {
        "description": null,
        "parameters": [
          {
            "name": "Type",
            "in": "query",
            "description": "Credential type, one of \"gcm\", \"fcm\", or \"apn\"",
            "required": true,
            "schema": {
              "type": "string",
              "enums": [
                "gcm",
                "apn",
                "fcm"
              ]
            }
          },
          {
            "name": "FriendlyName",
            "in": "query",
            "description": "Friendly name for stored credential",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Certificate",
            "in": "query",
            "description": "[APN only] URL encoded representation of the certificate. Strip everything outside of the headers, e.g. `-----BEGIN CERTIFICATE-----MIIFnTCCBIWgAwIBAgIIAjy9H849+E8wDQYJKoZIhvcNAQEFBQAwgZYxCzAJBgNV.....A==-----END CERTIFICATE-----`",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PrivateKey",
            "in": "query",
            "description": "[APN only] URL encoded representation of the private key. Strip everything outside of the headers, e.g. `-----BEGIN RSA PRIVATE KEY-----MIIEpQIBAAKCAQEAuyf/lNrH9ck8DmNyo3fGgvCI1l9s+cmBY3WIz+cUDqmxiieR\\n.-----END RSA PRIVATE KEY-----`",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Sandbox",
            "in": "query",
            "description": "[APN only] use this credential for sending to production or sandbox APNs (string `true` or `false`)",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "description": "[GCM only] This is the \"Server key\" of your project from Firebase console under Settings / Cloud messaging. Yes, you can use the server key from the Firebase console for GCM.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Secret",
            "in": "query",
            "description": "[FCM only] This is the \"Server key\" of your project from Firebase console under Settings / Cloud messaging.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": null
      }
    },
    "/v1/Credentials/AWS": {
      "servers": [
        {
          "url": "https://accounts.twilio.com"
        }
      ],
      "get": {
        "description": "Retrieves a collection of AWS Credentials belonging to the account used to make the request",
        "parameters": [],
        "responses": null
      },
      "post": {
        "description": "Create a new AWS Credential",
        "parameters": [
          {
            "name": "Credentials",
            "in": "query",
            "description": "String containing AWS access credentials with format <AWS_ACCESS_KEY_ID>:<AWS_SECRET_ACCESS_KEY>, e.g. AKIAIOSFODNN7EXAMPLE:wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FriendlyName",
            "in": "query",
            "description": "A human readable description of this resource, up to 64 characters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AccountSid",
            "in": "query",
            "description": "The Subaccount this Credential should be associated with. Needs to be a valid Subaccount of the account issuing the request",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          }
        ],
        "responses": null
      }
    },
    "/v1/Credentials/AWS/{Sid}": {
      "servers": [
        {
          "url": "https://accounts.twilio.com"
        }
      ],
      "get": {
        "description": "Fetch the AWS credentials specified by the provided Credential Sid",
        "parameters": [
          {
            "name": "Sid",
            "in": "path",
            "description": "The Credential Sid that uniquely identifies the Credential to fetch",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^CR[0-9a-fA-F]{32}$"
            }
          }
        ],
        "responses": null
      },
      "post": {
        "description": "Modify the properties of a given Account",
        "parameters": [
          {
            "name": "Sid",
            "in": "path",
            "description": "The Credential Sid that uniquely identifies the Credential to fetch",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^CR[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "FriendlyName",
            "in": "query",
            "description": "A human readable description of this resource, up to 64 characters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": null
      },
      "delete": {
        "description": "Delete a Credential from your account",
        "parameters": [
          {
            "name": "Sid",
            "in": "path",
            "description": "A 34 character string that uniquely identifies this resource.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^CR[0-9a-fA-F]{32}$"
            }
          }
        ],
        "responses": null
      }
    },
    "/v1/Credentials/PublicKeys": {
      "servers": [
        {
          "url": "https://accounts.twilio.com"
        }
      ],
      "get": {
        "description": "Retrieves a collection of Public Key Credentials belonging to the account used to make the request",
        "parameters": [],
        "responses": null
      },
      "post": {
        "description": "Create a new Public Key Credential",
        "parameters": [
          {
            "name": "PublicKey",
            "in": "query",
            "description": "URL encoded representation of the public key, e.g. -----BEGIN PUBLIC KEY-----MIIBIjANB.pa9xQIDAQAB-----END PUBLIC KEY-----",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FriendlyName",
            "in": "query",
            "description": "A human readable description of this resource, up to 64 characters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AccountSid",
            "in": "query",
            "description": "The Subaccount this Credential should be associated with. Needs to be a valid Subaccount of the account issuing the request",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          }
        ],
        "responses": null
      }
    },
    "/v1/Credentials/PublicKeys/{Sid}": {
      "servers": [
        {
          "url": "https://accounts.twilio.com"
        }
      ],
      "get": {
        "description": "Fetch the public key specified by the provided Credential Sid",
        "parameters": [
          {
            "name": "Sid",
            "in": "path",
            "description": "The Credential Sid that uniquely identifies the Credential to fetch",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^CR[0-9a-fA-F]{32}$"
            }
          }
        ],
        "responses": null
      },
      "post": {
        "description": "Modify the properties of a given Account",
        "parameters": [
          {
            "name": "Sid",
            "in": "path",
            "description": "The Credential Sid that uniquely identifies the Credential to fetch",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^CR[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "FriendlyName",
            "in": "query",
            "description": "A human readable description of this resource, up to 64 characters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": null
      },
      "delete": {
        "description": "Delete a Credential from your account",
        "parameters": [
          {
            "name": "Sid",
            "in": "path",
            "description": "A 34 character string that uniquely identifies this resource.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^CR[0-9a-fA-F]{32}$"
            }
          }
        ],
        "responses": null
      }
    },
    "/2010-04-01/Accounts.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "post": {
        "description": "Create a new Twilio Subaccount from the account making the request",
        "parameters": [
          {
            "name": "FriendlyName",
            "in": "query",
            "description": "A human readable description of the account to create, defaults to `SubAccount Created at {YYYY-MM-DD HH:MM meridian}`",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": null
      },
      "get": {
        "description": "Retrieves a collection of Accounts belonging to the account used to make the request",
        "parameters": [
          {
            "name": "FriendlyName",
            "in": "query",
            "description": "Only return the Account resources with friendly names that exactly match this name.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Status",
            "in": "query",
            "description": "Only return Account resources with the given status. Can be `closed`, `suspended` or `active`.",
            "required": false,
            "schema": {
              "type": "string",
              "enums": [
                "active",
                "suspended",
                "closed"
              ]
            }
          }
        ],
        "responses": null
      }
    },
    "/2010-04-01/Accounts/{Sid}.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "get": {
        "description": "Fetch the account specified by the provided Account Sid",
        "parameters": [
          {
            "name": "Sid",
            "in": "path",
            "description": "The Account Sid that uniquely identifies the account to fetch",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          }
        ],
        "responses": null
      },
      "post": {
        "description": "Modify the properties of a given Account",
        "parameters": [
          {
            "name": "Sid",
            "in": "path",
            "description": "The Account Sid that uniquely identifies the account to update",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "FriendlyName",
            "in": "query",
            "description": "Update the human-readable description of this Account",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Status",
            "in": "query",
            "description": "Alter the status of this account: use `closed` to irreversibly close this account, `suspended` to temporarily suspend it, or `active` to reactivate it.",
            "required": false,
            "schema": {
              "type": "string",
              "enums": [
                "active",
                "suspended",
                "closed"
              ]
            }
          }
        ],
        "responses": null
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Addresses.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "post": {
        "description": null,
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": null,
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "CustomerName",
            "in": "query",
            "description": "Your name or business name, or that of your customer.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Street",
            "in": "query",
            "description": "The number and street address where you or your customer is located.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "City",
            "in": "query",
            "description": "The city in which you or your customer is located.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Region",
            "in": "query",
            "description": "The state or region in which you or your customer is located.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PostalCode",
            "in": "query",
            "description": "The postal code in which you or your customer is located.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IsoCountry",
            "in": "query",
            "description": "The ISO country code of your or your customer's address.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FriendlyName",
            "in": "query",
            "description": "A human-readable description of the new address. Maximum 64 characters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EmergencyEnabled",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "AutoCorrectAddress",
            "in": "query",
            "description": "If you don't set a value for this parameter, or if you set it to `true`, then the system will, if necessary, auto-correct the address you provide. If you don't want the system to auto-correct the address, you will explicitly need to set this value to `false`.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": null
      },
      "get": {
        "description": null,
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": null,
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "CustomerName",
            "in": "query",
            "description": "Only return the Address resources with customer names that exactly match this name.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FriendlyName",
            "in": "query",
            "description": "Only return the Address resources with friendly names that exactly match this name.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IsoCountry",
            "in": "query",
            "description": "Only return the Address resources in this country.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": null
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Addresses/{Sid}.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "delete": {
        "description": null,
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": null,
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "Sid",
            "in": "path",
            "description": null,
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AD[0-9a-fA-F]{32}$"
            }
          }
        ],
        "responses": null
      },
      "get": {
        "description": null,
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": null,
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "Sid",
            "in": "path",
            "description": null,
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AD[0-9a-fA-F]{32}$"
            }
          }
        ],
        "responses": null
      },
      "post": {
        "description": null,
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": null,
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "Sid",
            "in": "path",
            "description": null,
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AD[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "FriendlyName",
            "in": "query",
            "description": "A human-readable description of the address. Maximum 64 characters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerName",
            "in": "query",
            "description": "Your name or business name, or that of your customer.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Street",
            "in": "query",
            "description": "The number and street address where you or your customer is located.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "City",
            "in": "query",
            "description": "The city in which you or your customer is located.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Region",
            "in": "query",
            "description": "The state or region in which you or your customer is located.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PostalCode",
            "in": "query",
            "description": "The postal code in which you or your customer is located.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EmergencyEnabled",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "AutoCorrectAddress",
            "in": "query",
            "description": "If you don't set a value for this parameter, or if you set it to `true`, then the system will, if necessary, auto-correct the address you provide. If you don't want the system to auto-correct the address, you will explicitly need to set this value to `false`.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": null
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Applications.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "post": {
        "description": "Create a new application within your account",
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": null,
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "FriendlyName",
            "in": "query",
            "description": "A human readable description of the new application, maximum of 64 characters.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiVersion",
            "in": "query",
            "description": "Requests to this application's URLs will start a new TwiML session with this API version. Either `2010-04-01` or `2008-08-01`. Defaults to your account's default API version.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "VoiceUrl",
            "in": "query",
            "description": "The URL that Twilio should request when somebody dials a phone number assigned to this application.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "VoiceMethod",
            "in": "query",
            "description": "The HTTP method that should be used to request the `VoiceUrl`. Must be either `GET` or `POST`. Defaults to `POST`.",
            "required": false,
            "schema": {
              "type": "string",
              "enums": [
                "head",
                "get",
                "post",
                "patch",
                "put",
                "delete",
                "HEAD",
                "GET",
                "POST",
                "PATCH",
                "PUT",
                "DELETE"
              ]
            }
          },
          {
            "name": "VoiceFallbackUrl",
            "in": "query",
            "description": "The URL that Twilio will request if an error occurs retrieving or executing the TwiML requested by `Url`.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "VoiceFallbackMethod",
            "in": "query",
            "description": "The HTTP method that should be used to request the `VoiceFallbackUrl`. Either `GET` or `POST`. Defaults to `POST`.",
            "required": false,
            "schema": {
              "type": "string",
              "enums": [
                "head",
                "get",
                "post",
                "patch",
                "put",
                "delete",
                "HEAD",
                "GET",
                "POST",
                "PATCH",
                "PUT",
                "DELETE"
              ]
            }
          },
          {
            "name": "StatusCallback",
            "in": "query",
            "description": "The URL that Twilio will request to pass status parameters (such as call ended) to your application.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "StatusCallbackMethod",
            "in": "query",
            "description": "The HTTP method Twilio will use to make requests to the `StatusCallback` URL. Either `GET` or `POST`. Defaults to `POST`.",
            "required": false,
            "schema": {
              "type": "string",
              "enums": [
                "head",
                "get",
                "post",
                "patch",
                "put",
                "delete",
                "HEAD",
                "GET",
                "POST",
                "PATCH",
                "PUT",
                "DELETE"
              ]
            }
          },
          {
            "name": "VoiceCallerIdLookup",
            "in": "query",
            "description": "Do a lookup of a caller's name from the CNAM database and post it to your app. Either `true` or `false`. Defaults to `false`.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "SmsUrl",
            "in": "query",
            "description": "The URL Twilio will request when a phone number assigned to this application receives an incoming SMS message.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "SmsMethod",
            "in": "query",
            "description": "The HTTP method that should be used to request the `SmsUrl`. Must be either `GET` or `POST`. Defaults to `POST`.",
            "required": false,
            "schema": {
              "type": "string",
              "enums": [
                "head",
                "get",
                "post",
                "patch",
                "put",
                "delete",
                "HEAD",
                "GET",
                "POST",
                "PATCH",
                "PUT",
                "DELETE"
              ]
            }
          },
          {
            "name": "SmsFallbackUrl",
            "in": "query",
            "description": "A URL that Twilio will request if an error occurs requesting or executing the TwiML defined by `SmsUrl`.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "SmsFallbackMethod",
            "in": "query",
            "description": "The HTTP method that should be used to request the `SmsFallbackUrl`. Must be either `GET` or `POST`. Defaults to `POST`.",
            "required": false,
            "schema": {
              "type": "string",
              "enums": [
                "head",
                "get",
                "post",
                "patch",
                "put",
                "delete",
                "HEAD",
                "GET",
                "POST",
                "PATCH",
                "PUT",
                "DELETE"
              ]
            }
          },
          {
            "name": "SmsStatusCallback",
            "in": "query",
            "description": "Twilio will make a `POST` request to this URL to pass status parameters (such as sent or failed) to your application if you specify this application's `Sid` as the `ApplicationSid` on an [outgoing SMS request](https://www.twilio.com/docs/sms/send-messages).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "MessageStatusCallback",
            "in": "query",
            "description": "Twilio will make a `POST` request to this URL to pass status parameters (such as sent or failed) to your application if you use the `/Messages` endpoint to send the message and specify this application's `Sid` as the `ApplicationSid` on an [outgoing SMS request](https://www.twilio.com/docs/sms/send-messages).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          }
        ],
        "responses": null
      },
      "get": {
        "description": "Retrieve a list of applications representing an application within the requesting account",
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": null,
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "FriendlyName",
            "in": "query",
            "description": "Only return application resources with friendly names that match exactly with this name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": null
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Applications/{Sid}.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "delete": {
        "description": "Delete the application by the specified application sid",
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": null,
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "Sid",
            "in": "path",
            "description": "The application sid the uniquely identifies this application",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AP[0-9a-fA-F]{32}$"
            }
          }
        ],
        "responses": null
      },
      "get": {
        "description": "Fetch the application specified by the provided sid",
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": null,
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "Sid",
            "in": "path",
            "description": "The application Sid that that uniquely identifies this resource",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AP[0-9a-fA-F]{32}$"
            }
          }
        ],
        "responses": null
      },
      "post": {
        "description": "Updates the application's properties",
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": null,
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "Sid",
            "in": "path",
            "description": null,
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AP[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "FriendlyName",
            "in": "query",
            "description": "A human readable description of the application, with maximum length 64 characters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiVersion",
            "in": "query",
            "description": "Requests to this application's URLs will start a new TwiML session with this API version. Either `2010-04-01` or `2008-08-01`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "VoiceUrl",
            "in": "query",
            "description": "The URL that Twilio should request when somebody dials a phone number assigned to this application.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "VoiceMethod",
            "in": "query",
            "description": "The HTTP method Twilio will use when requesting the above `Url`. Either `GET` or `POST`.",
            "required": false,
            "schema": {
              "type": "string",
              "enums": [
                "head",
                "get",
                "post",
                "patch",
                "put",
                "delete",
                "HEAD",
                "GET",
                "POST",
                "PATCH",
                "PUT",
                "DELETE"
              ]
            }
          },
          {
            "name": "VoiceFallbackUrl",
            "in": "query",
            "description": "A URL that Twilio will request if an error occurs requesting or executing the TwiML defined by `VoiceUrl`.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "VoiceFallbackMethod",
            "in": "query",
            "description": "The HTTP method Twilio will use when requesting the `VoiceFallbackUrl`. Either `GET` or `POST`.",
            "required": false,
            "schema": {
              "type": "string",
              "enums": [
                "head",
                "get",
                "post",
                "patch",
                "put",
                "delete",
                "HEAD",
                "GET",
                "POST",
                "PATCH",
                "PUT",
                "DELETE"
              ]
            }
          },
          {
            "name": "StatusCallback",
            "in": "query",
            "description": "The URL that Twilio will request to pass status parameters (such as call ended) to your application.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "StatusCallbackMethod",
            "in": "query",
            "description": "The HTTP method Twilio will use to make requests to the `StatusCallback` URL. Either `GET` or `POST`.",
            "required": false,
            "schema": {
              "type": "string",
              "enums": [
                "head",
                "get",
                "post",
                "patch",
                "put",
                "delete",
                "HEAD",
                "GET",
                "POST",
                "PATCH",
                "PUT",
                "DELETE"
              ]
            }
          },
          {
            "name": "VoiceCallerIdLookup",
            "in": "query",
            "description": "Look up the caller's caller-ID name from the CNAM database (additional charges apply). Either `true` or `false`.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "SmsUrl",
            "in": "query",
            "description": "The URL Twilio will request when a phone number assigned to this application receives an incoming SMS message.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "SmsMethod",
            "in": "query",
            "description": "The HTTP method Twilio will use when making requests to the `SmsUrl`. Either `GET` or `POST`.",
            "required": false,
            "schema": {
              "type": "string",
              "enums": [
                "head",
                "get",
                "post",
                "patch",
                "put",
                "delete",
                "HEAD",
                "GET",
                "POST",
                "PATCH",
                "PUT",
                "DELETE"
              ]
            }
          },
          {
            "name": "SmsFallbackUrl",
            "in": "query",
            "description": "A URL that Twilio will request if an error occurs requesting or executing the TwiML defined by `SmsUrl`.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "SmsFallbackMethod",
            "in": "query",
            "description": "The HTTP method that should be used to request the `SmsFallbackUrl`. Either `GET` or `POST`.",
            "required": false,
            "schema": {
              "type": "string",
              "enums": [
                "head",
                "get",
                "post",
                "patch",
                "put",
                "delete",
                "HEAD",
                "GET",
                "POST",
                "PATCH",
                "PUT",
                "DELETE"
              ]
            }
          },
          {
            "name": "SmsStatusCallback",
            "in": "query",
            "description": "The URL that Twilio will `POST` to when a message is sent via the `/SMS/Messages` endpoint if you specify the `Sid` of this application on an [outgoing SMS request](https://www.twilio.com/docs/sms/send-messages).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "MessageStatusCallback",
            "in": "query",
            "description": "Twilio will make a `POST` request to this URL to pass status parameters (such as sent or failed) to your application if you use the `/Messages` endpoint to send the message and specify this application's `Sid` as the `ApplicationSid` on an [outgoing SMS request](https://www.twilio.com/docs/sms/send-messages).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          }
        ],
        "responses": null
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/AuthorizedConnectApps.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "get": {
        "description": "Retrieve a list of authorized-connect-apps belonging to the account used to make the request",
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": null,
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          }
        ],
        "responses": null
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/AuthorizedConnectApps/{ConnectAppSid}.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "get": {
        "description": "Fetch an instance of an authorized-connect-app",
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": null,
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "ConnectAppSid",
            "in": "path",
            "description": null,
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^CN[0-9a-fA-F]{32}$"
            }
          }
        ],
        "responses": null
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "get": {
        "description": null,
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": "The 34 character string that uniquely identifies your account.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          }
        ],
        "responses": null
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "get": {
        "description": null,
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": null,
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "CountryCode",
            "in": "path",
            "description": null,
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": null
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/Local.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "get": {
        "description": null,
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": "The 34 character string that uniquely identifies your account.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "CountryCode",
            "in": "path",
            "description": null,
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AreaCode",
            "in": "query",
            "description": "Find phone numbers in the specified area code. (US and Canada only)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Contains",
            "in": "query",
            "description": "A pattern on which to match phone numbers. Valid characters are `'*'` and `[0-9a-zA-Z]`. The `'*'` character will match any single digit. See [Example 2](https://www.twilio.com/docs/api/rest/available-phone-numbers#local-get-basic-example-2) and [Example 3](https://www.twilio.com/docs/api/rest/available-phone-numbers#local-get-basic-example-3) below. *NOTE:* Patterns must be at least two characters long.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SmsEnabled",
            "in": "query",
            "description": "This indicates whether the phone numbers can receive text messages. Possible values are `true` or `false`.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "MmsEnabled",
            "in": "query",
            "description": "This indicates whether the phone numbers can receive MMS messages. Possible values are `true` or `false`.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "VoiceEnabled",
            "in": "query",
            "description": "This indicates whether the phone numbers can receive calls. Possible values are `true` or `false`.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeAllAddressRequired",
            "in": "query",
            "description": "Indicates whether the response includes phone numbers which require any [Address](https://www.twilio.com/docs/usage/api/addresses). Possible values are `true` or `false`. If not specified, the default is `false`, and results could include phone numbers with an Address required.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeLocalAddressRequired",
            "in": "query",
            "description": "Indicates whether the response includes phone numbers which require a local [Address](https://www.twilio.com/docs/usage/api/addresses). Possible values are `true` or `false`. If not specified, the default is `false`, and results could include phone numbers with a local Address required.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeForeignAddressRequired",
            "in": "query",
            "description": "Indicates whether the response includes phone numbers which require a foreign [Address](https://www.twilio.com/docs/usage/api/addresses). Possible values are `true` or `false`. If not specified, the default is `false`, and results could include phone numbers with a foreign Address required.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Beta",
            "in": "query",
            "description": "Include phone numbers new to the Twilio platform. Possible values are either `true` or `false`. Default is `true`.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "NearNumber",
            "in": "query",
            "description": "Given a phone number, find a geographically close number within `Distance` miles. Distance defaults to 25 miles. *Limited to US and Canadian phone numbers.*",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NearLatLong",
            "in": "query",
            "description": "Given a latitude/longitude pair `lat,long` find geographically close numbers within `Distance` miles. *Limited to US and Canadian phone numbers.*",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Distance",
            "in": "query",
            "description": "Specifies the search radius for a `Near-` query in miles. If not specified this defaults to 25 miles. Maximum searchable distance is 500 miles. *Limited to US and Canadian phone numbers.*",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "InPostalCode",
            "in": "query",
            "description": "Limit results to a particular postal code. Given a phone number, search within the same postal code as that number. *Limited to US and Canadian phone numbers.*",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InRegion",
            "in": "query",
            "description": "Limit results to a particular region (i.e.  State/Province). Given a phone number, search within the same Region as that number. *Limited to US and Canadian phone numbers.*",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InRateCenter",
            "in": "query",
            "description": "Limit results to a specific rate center, or given a phone number search within the same rate center as that number. Requires InLata to be set as well. *Limited to US and Canadian phone numbers.*",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InLata",
            "in": "query",
            "description": "Limit results to a specific Local access and transport area ([LATA](http://en.wikipedia.org/wiki/Local_access_and_transport_area)). Given a phone number, search within the same [LATA](http://en.wikipedia.org/wiki/Local_access_and_transport_area) as that number. *Limited to US and Canadian phone numbers.*",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InLocality",
            "in": "query",
            "description": "Limit results to a particular locality (i.e.  City). Given a phone number, search within the same Locality as that number. *Limited to US and Canadian phone numbers.*",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FaxEnabled",
            "in": "query",
            "description": "This indicates whether the phone numbers can receive faxes. Possible values are `true` or `false`.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": null
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/MachineToMachine.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "get": {
        "description": null,
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": "The 34 character string that uniquely identifies your account.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "CountryCode",
            "in": "path",
            "description": null,
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AreaCode",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Contains",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SmsEnabled",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "MmsEnabled",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "VoiceEnabled",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeAllAddressRequired",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeLocalAddressRequired",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeForeignAddressRequired",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Beta",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "NearNumber",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NearLatLong",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Distance",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "InPostalCode",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InRegion",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InRateCenter",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InLata",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InLocality",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FaxEnabled",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": null
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/Mobile.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "get": {
        "description": null,
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": null,
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "CountryCode",
            "in": "path",
            "description": null,
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AreaCode",
            "in": "query",
            "description": "Find phone numbers in the specified area code. (US and Canada only)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Contains",
            "in": "query",
            "description": "A pattern on which to match phone numbers. Valid characters are `'*'` and `[0-9a-zA-Z]`. The `'*'` character will match any single digit. See [Example 2](https://www.twilio.com/docs/api/rest/available-phone-numbers#local-get-basic-example-2) and [Example 3](https://www.twilio.com/docs/api/rest/available-phone-numbers#local-get-basic-example-3) below. *NOTE:* Patterns must be at least two characters long.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SmsEnabled",
            "in": "query",
            "description": "This indicates whether the phone numbers can receive text messages. Possible values are `true` or `false`.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "MmsEnabled",
            "in": "query",
            "description": "This indicates whether the phone numbers can receive MMS messages. Possible values are `true` or `false`.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "VoiceEnabled",
            "in": "query",
            "description": "This indicates whether the phone numbers can receive calls. Possible values are `true` or `false`.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeAllAddressRequired",
            "in": "query",
            "description": "Indicates whether the response includes phone numbers which require any [Address](https://www.twilio.com/docs/usage/api/addresses). Possible values are `true` or `false`. If not specified, the default is `false`, and results could include phone numbers with an Address required.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeLocalAddressRequired",
            "in": "query",
            "description": "Indicates whether the response includes phone numbers which require a local [Address](https://www.twilio.com/docs/usage/api/addresses). Possible values are `true` or `false`. If not specified, the default is `false`, and results could include phone numbers with a local Address required.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeForeignAddressRequired",
            "in": "query",
            "description": "Indicates whether the response includes phone numbers which require a foreign [Address](https://www.twilio.com/docs/usage/api/addresses). Possible values are `true` or `false`. If not specified, the default is `false`, and results could include phone numbers with a foreign Address required.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Beta",
            "in": "query",
            "description": "Include phone numbers new to the Twilio platform. Possible values are either `true` or `false`. Default is `true`.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "NearNumber",
            "in": "query",
            "description": "Given a phone number, find a geographically close number within `Distance` miles. Distance defaults to 25 miles. *Limited to US and Canadian phone numbers.*",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NearLatLong",
            "in": "query",
            "description": "Given a latitude/longitude pair `lat,long` find geographically close numbers within `Distance` miles. *Limited to US and Canadian phone numbers.*",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Distance",
            "in": "query",
            "description": "Specifies the search radius for a `Near-` query in miles. If not specified this defaults to 25 miles. Maximum searchable distance is 500 miles. *Limited to US and Canadian phone numbers.*",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "InPostalCode",
            "in": "query",
            "description": "Limit results to a particular postal code. Given a phone number, search within the same postal code as that number. *Limited to US and Canadian phone numbers.*",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InRegion",
            "in": "query",
            "description": "Limit results to a particular region (i.e. State/Province). Given a phone number, search within the same Region as that number. *Limited to US and Canadian phone numbers.*",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InRateCenter",
            "in": "query",
            "description": "Limit results to a specific rate center, or given a phone number search within the same rate center as that number. Requires InLata to be set as well. *Limited to US and Canadian phone numbers.*",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InLata",
            "in": "query",
            "description": "Limit results to a specific Local access and transport area ([LATA](http://en.wikipedia.org/wiki/Local_access_and_transport_area)). Given a phone number, search within the same [LATA](http://en.wikipedia.org/wiki/Local_access_and_transport_area) as that number. *Limited to US and Canadian phone numbers.*",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InLocality",
            "in": "query",
            "description": "Limit results to a particular locality (i.e.  City). Given a phone number, search within the same Locality as that number.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FaxEnabled",
            "in": "query",
            "description": "This indicates whether the phone numbers can receive faxes. Possible values are `true` or `false`.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": null
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/National.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "get": {
        "description": null,
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": "The 34 character string that uniquely identifies your account.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "CountryCode",
            "in": "path",
            "description": null,
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AreaCode",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Contains",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SmsEnabled",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "MmsEnabled",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "VoiceEnabled",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeAllAddressRequired",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeLocalAddressRequired",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeForeignAddressRequired",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Beta",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "NearNumber",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NearLatLong",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Distance",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "InPostalCode",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InRegion",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InRateCenter",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InLata",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InLocality",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FaxEnabled",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": null
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/SharedCost.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "get": {
        "description": null,
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": "The 34 character string that uniquely identifies your account.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "CountryCode",
            "in": "path",
            "description": null,
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AreaCode",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Contains",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SmsEnabled",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "MmsEnabled",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "VoiceEnabled",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeAllAddressRequired",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeLocalAddressRequired",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeForeignAddressRequired",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Beta",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "NearNumber",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NearLatLong",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Distance",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "InPostalCode",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InRegion",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InRateCenter",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InLata",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InLocality",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FaxEnabled",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": null
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/TollFree.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "get": {
        "description": null,
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": null,
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "CountryCode",
            "in": "path",
            "description": null,
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AreaCode",
            "in": "query",
            "description": "Find phone numbers in the specified area code. (US and Canada only)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Contains",
            "in": "query",
            "description": "A pattern on which to match phone numbers. Valid characters are `'*'` and `[0-9a-zA-Z]`. The `'*'` character will match any single digit. See [Example 2](https://www.twilio.com/docs/api/rest/available-phone-numbers#local-get-basic-example-2) and [Example 3](https://www.twilio.com/docs/api/rest/available-phone-numbers#local-get-basic-example-3) below. *NOTE:* Patterns must be at least two characters long.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SmsEnabled",
            "in": "query",
            "description": "This indicates whether the phone numbers can receive text messages. Possible values are `true` or `false`.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "MmsEnabled",
            "in": "query",
            "description": "This indicates whether the phone numbers can receive MMS messages. Possible values are `true` or `false`.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "VoiceEnabled",
            "in": "query",
            "description": "This indicates whether the phone numbers can receive calls. Possible values are `true` or `false`.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeAllAddressRequired",
            "in": "query",
            "description": "Indicates whether the response includes phone numbers which require any [Address](https://www.twilio.com/docs/usage/api/addresses). Possible values are `true` or `false`. If not specified, the default is `false`, and results could include phone numbers with an Address required.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeLocalAddressRequired",
            "in": "query",
            "description": "Indicates whether the response includes phone numbers which require a local [Address](https://www.twilio.com/docs/usage/api/addresses). Possible values are `true` or `false`. If not specified, the default is `false`, and results could include phone numbers with a local Address required.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeForeignAddressRequired",
            "in": "query",
            "description": "Indicates whether the response includes phone numbers which require a foreign [Address](https://www.twilio.com/docs/usage/api/addresses). Possible values are `true` or `false`. If not specified, the default is `false`, and results could include phone numbers with a foreign Address required.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Beta",
            "in": "query",
            "description": "Include phone numbers new to the Twilio platform. Possible values are either `true` or `false`. Default is `true`.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "NearNumber",
            "in": "query",
            "description": "Given a phone number, find a geographically close number within `Distance` miles. Distance defaults to 25 miles. *Limited to US and Canadian phone numbers.*",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NearLatLong",
            "in": "query",
            "description": "Given a latitude/longitude pair `lat,long` find geographically close numbers within `Distance` miles. *Limited to US and Canadian phone numbers.*",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Distance",
            "in": "query",
            "description": "Specifies the search radius for a `Near-` query in miles. If not specified this defaults to 25 miles. Maximum searchable distance is 500 miles. *Limited to US and Canadian phone numbers.*",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "InPostalCode",
            "in": "query",
            "description": "Limit results to a particular postal code. Given a phone number, search within the same postal code as that number. *Limited to US and Canadian phone numbers.*",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InRegion",
            "in": "query",
            "description": "Limit results to a particular region (i.e.  State/Province). Given a phone number, search within the same Region as that number. *Limited to US and Canadian phone numbers.*",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InRateCenter",
            "in": "query",
            "description": "Limit results to a specific rate center, or given a phone number search within the same rate center as that number. Requires InLata to be set as well. *Limited to US and Canadian phone numbers.*",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InLata",
            "in": "query",
            "description": "Limit results to a specific Local access and transport area ([LATA](http://en.wikipedia.org/wiki/Local_access_and_transport_area)). Given a phone number, search within the same [LATA](http://en.wikipedia.org/wiki/Local_access_and_transport_area) as that number. *Limited to US and Canadian phone numbers.*",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InLocality",
            "in": "query",
            "description": "Limit results to a particular locality (i.e.  City). Given a phone number, search within the same Locality as that number.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FaxEnabled",
            "in": "query",
            "description": "This indicates whether the phone numbers can receive faxes. Possible values are `true` or `false`.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": null
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/Voip.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "get": {
        "description": null,
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": "The 34 character string that uniquely identifies your account.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "CountryCode",
            "in": "path",
            "description": null,
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AreaCode",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Contains",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SmsEnabled",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "MmsEnabled",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "VoiceEnabled",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeAllAddressRequired",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeLocalAddressRequired",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeForeignAddressRequired",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Beta",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "NearNumber",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NearLatLong",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Distance",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "InPostalCode",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InRegion",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InRateCenter",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InLata",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InLocality",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FaxEnabled",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": null
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Balance.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "get": {
        "description": "Fetch the balance for an Account based on Account Sid. Balance changes may not be reflected immediately. Child accounts do not contain balance information",
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": "The unique SID identifier of the Account.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          }
        ],
        "responses": null
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Calls.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "post": {
        "description": "Create a new outgoing call to phones, SIP-enabled endpoints or Twilio Client connections",
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": null,
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "To",
            "in": "query",
            "description": "The phone number, SIP address, or client identifier to call.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "From",
            "in": "query",
            "description": "The phone number or client identifier to use as the caller id. If using a phone number, it must be a Twilio number or a Verified [outgoing caller id](https://www.twilio.com/docs/voice/api/outgoing-caller-ids) for your account. If the `To` parameter is a phone number, `From` must also be a phone number.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Method",
            "in": "query",
            "description": "The HTTP method Twilio should use when making its request to the `Url` parameter's value. Defaults to `POST`. If an `ApplicationSid` parameter is present, this parameter is ignored.",
            "required": false,
            "schema": {
              "type": "string",
              "enums": [
                "head",
                "get",
                "post",
                "patch",
                "put",
                "delete",
                "HEAD",
                "GET",
                "POST",
                "PATCH",
                "PUT",
                "DELETE"
              ]
            }
          },
          {
            "name": "FallbackUrl",
            "in": "query",
            "description": "A URL that Twilio will request if an error occurs requesting or executing the TwiML at `Url`. If an `ApplicationSid` parameter is present, this parameter is ignored.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "FallbackMethod",
            "in": "query",
            "description": "The HTTP method that Twilio should use to request the `FallbackUrl`. Must be either `GET` or `POST`. Defaults to `POST`. If an `ApplicationSid` parameter is present, this parameter is ignored.",
            "required": false,
            "schema": {
              "type": "string",
              "enums": [
                "head",
                "get",
                "post",
                "patch",
                "put",
                "delete",
                "HEAD",
                "GET",
                "POST",
                "PATCH",
                "PUT",
                "DELETE"
              ]
            }
          },
          {
            "name": "StatusCallback",
            "in": "query",
            "description": "A URL that Twilio will send asynchronous webhook requests to on every call event specified in the `StatusCallbackEvent` parameter. If no event is specified, Twilio will send `completed` by default. If an `ApplicationSid` parameter is present, this parameter is ignored. URLs must contain a valid hostname (underscores are not permitted).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "StatusCallbackEvent",
            "in": "query",
            "description": "The call progress events that will trigger a webhook from Twilio. Available values are `initiated`, `ringing`, `answered`, and `completed`. If no event is specified, defaults to `completed`. If you want to receive multiple events, please provide multiple `StatusCallbackEvent` values as individual parameters in the `POST` request. See the code sample for [monitoring call progress](https://www.twilio.com/docs/voice/api/call?code-sample=code-create-a-call-and-specify-a-statuscallbackevent). If an `ApplicationSid` is present, this parameter is ignored.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "StatusCallbackMethod",
            "in": "query",
            "description": "The HTTP method Twilio should use when requesting the `StatusCallback` URL. Defaults to `POST`. If an `ApplicationSid` parameter is present, this parameter is ignored.",
            "required": false,
            "schema": {
              "type": "string",
              "enums": [
                "head",
                "get",
                "post",
                "patch",
                "put",
                "delete",
                "HEAD",
                "GET",
                "POST",
                "PATCH",
                "PUT",
                "DELETE"
              ]
            }
          },
          {
            "name": "SendDigits",
            "in": "query",
            "description": "A string of keys to dial after connecting to the number, maximum of 32 digits. Valid digits in the string include: any digit (`0`-`9`), '`#`', '`*`' and '`w`' (to insert a half second pause). For example, if you connected to a company phone number and wanted to pause for one second, dial extension 1234, and then the pound key, use `SendDigits=ww1234#`. Remember to URL-encode this string, since the '`#`' character has special meaning in a URL. If both `SendDigits` and `MachineDetection` parameters are provided, then `MachineDetection` will be ignored.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IfMachine",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Timeout",
            "in": "query",
            "description": "The integer number of seconds that Twilio should allow the phone to ring before assuming there is no answer. Default is `60` seconds, the maximum is `600` seconds. For some call flows, Twilio will add a 5-second buffer to the timeout value provided, so if you enter a timeout value of 10 seconds, you could see actual timeout closer to 15 seconds. Note, you could set this to a low value like `15` to hang up before reaching an answering machine or voicemail.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Record",
            "in": "query",
            "description": "Set this parameter to `true` to record the entirety of a phone call. The `RecordingUrl` will be sent to the `StatusCallback` URL. Defaults to false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "RecordingChannels",
            "in": "query",
            "description": "`mono` or `dual` \u2013 defaults to `mono`. Set this parameter to specify the number of channels in the final recording. In a mono-channel recording, both legs of the call are mixed down into a single channel within a single recording file. With dual-channel recording, both legs use separate channels within a single recording file. In dual-channel recordings, the parent call will always be in the first channel, and the child call will always be in the second channel.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "RecordingStatusCallback",
            "in": "query",
            "description": "A URL that Twilio will send a webhook request to when the recording is available for access.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "RecordingStatusCallbackMethod",
            "in": "query",
            "description": "The HTTP method Twilio should use when requesting the `RecordingStatusCallback` URL. Defaults to `POST`.",
            "required": false,
            "schema": {
              "type": "string",
              "enums": [
                "head",
                "get",
                "post",
                "patch",
                "put",
                "delete",
                "HEAD",
                "GET",
                "POST",
                "PATCH",
                "PUT",
                "DELETE"
              ]
            }
          },
          {
            "name": "SipAuthUsername",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SipAuthPassword",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MachineDetection",
            "in": "query",
[...]
