{
  "openapi": "3.0.1",
  "info": {
    "title": "Twilio REST API",
    "description": "This is the public Twilio REST API.",
    "termsOfService": "https://www.twilio.com/legal/tos",
    "contact": {
      "name": "Twilio Support",
      "url": "https://support.twilio.com",
      "email": "support@twilio.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "81ff5a4"
  },
  "paths": {
    "/v1/Credentials": {
      "servers": [
        {
          "url": "https://chat.twilio.com"
        }
      ],
      "get": {
        "description": null,
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "credentials": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/chat.v1.credential"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "first_page_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "next_page_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "post": {
        "description": null,
        "parameters": [
          {
            "name": "Type",
            "in": "query",
            "description": "Credential type, one of \"gcm\" or \"apn\"",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "gcm",
                "apn",
                "fcm"
              ]
            }
          },
          {
            "name": "FriendlyName",
            "in": "query",
            "description": "Friendly name for stored credential",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Certificate",
            "in": "query",
            "description": "[APN only] URL encoded representation of the certificate, e.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PrivateKey",
            "in": "query",
            "description": "[APN only] URL encoded representation of the private key, e.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Sandbox",
            "in": "query",
            "description": "[APN only] use this credential for sending to production or sandbox APNs",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "description": "[GCM only] This is the \"API key\" for project from Google Developer console for your GCM Service application credential",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Secret",
            "in": "query",
            "description": null,
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/chat.v1.credential"
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "description": "Credentials for push notifications channels"
    },
    "/v1/Credentials/AWS": {
      "servers": [
        {
          "url": "https://accounts.twilio.com"
        }
      ],
      "get": {
        "description": "Retrieves a collection of AWS Credentials belonging to the account used to make the request",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "credentials": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/accounts.v1.credential.credential_aws"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "first_page_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "next_page_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "post": {
        "description": "Create a new AWS Credential",
        "parameters": [
          {
            "name": "Credentials",
            "in": "query",
            "description": "A string that contains the AWS access credentials in the format <AWS_ACCESS_KEY_ID>:<AWS_SECRET_ACCESS_KEY>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FriendlyName",
            "in": "query",
            "description": "A string to describe the resource",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AccountSid",
            "in": "query",
            "description": "The Subaccount this Credential should be associated with.",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accounts.v1.credential.credential_aws"
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "description": "User provided AWS keys"
    },
    "/v1/Credentials/AWS/{Sid}": {
      "servers": [
        {
          "url": "https://accounts.twilio.com"
        }
      ],
      "get": {
        "description": "Fetch the AWS credentials specified by the provided Credential Sid",
        "parameters": [
          {
            "name": "Sid",
            "in": "path",
            "description": "The unique string that identifies the resource",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^CR[0-9a-fA-F]{32}$"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accounts.v1.credential.credential_aws"
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "post": {
        "description": "Modify the properties of a given Account",
        "parameters": [
          {
            "name": "Sid",
            "in": "path",
            "description": "The unique string that identifies the resource",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^CR[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "FriendlyName",
            "in": "query",
            "description": "A string to describe the resource",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accounts.v1.credential.credential_aws"
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "delete": {
        "description": "Delete a Credential from your account",
        "parameters": [
          {
            "name": "Sid",
            "in": "path",
            "description": "The unique string that identifies the resource",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^CR[0-9a-fA-F]{32}$"
            }
          }
        ],
        "responses": {
          "204": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "description": "User provided AWS keys"
    },
    "/v1/Credentials/PublicKeys": {
      "servers": [
        {
          "url": "https://accounts.twilio.com"
        }
      ],
      "get": {
        "description": "Retrieves a collection of Public Key Credentials belonging to the account used to make the request",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "credentials": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/accounts.v1.credential.credential_public_key"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "first_page_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "next_page_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "post": {
        "description": "Create a new Public Key Credential",
        "parameters": [
          {
            "name": "PublicKey",
            "in": "query",
            "description": "A URL encoded representation of the public key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FriendlyName",
            "in": "query",
            "description": "A string to describe the resource",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AccountSid",
            "in": "query",
            "description": "The Subaccount this Credential should be associated with.",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accounts.v1.credential.credential_public_key"
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "description": "User provided public keys"
    },
    "/v1/Credentials/PublicKeys/{Sid}": {
      "servers": [
        {
          "url": "https://accounts.twilio.com"
        }
      ],
      "get": {
        "description": "Fetch the public key specified by the provided Credential Sid",
        "parameters": [
          {
            "name": "Sid",
            "in": "path",
            "description": "The unique string that identifies the resource",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^CR[0-9a-fA-F]{32}$"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accounts.v1.credential.credential_public_key"
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "post": {
        "description": "Modify the properties of a given Account",
        "parameters": [
          {
            "name": "Sid",
            "in": "path",
            "description": "The unique string that identifies the resource",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^CR[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "FriendlyName",
            "in": "query",
            "description": "A string to describe the resource",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accounts.v1.credential.credential_public_key"
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "delete": {
        "description": "Delete a Credential from your account",
        "parameters": [
          {
            "name": "Sid",
            "in": "path",
            "description": "The unique string that identifies the resource",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^CR[0-9a-fA-F]{32}$"
            }
          }
        ],
        "responses": {
          "204": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "description": "User provided public keys"
    },
    "/2010-04-01/Accounts.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "post": {
        "description": "Create a new Twilio Subaccount from the account making the request",
        "parameters": [
          {
            "name": "FriendlyName",
            "in": "query",
            "description": "A human readable description of the account",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.v2010.account"
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "get": {
        "description": "Retrieves a collection of Accounts belonging to the account used to make the request",
        "parameters": [
          {
            "name": "FriendlyName",
            "in": "query",
            "description": "FriendlyName to filter on",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Status",
            "in": "query",
            "description": "Status to filter on",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "suspended",
                "closed"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accounts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/api.v2010.account"
                      }
                    },
                    "end": {
                      "type": "integer"
                    },
                    "first_page_uri": {
                      "type": "string",
                      "format": "uri"
                    },
                    "next_page_uri": {
                      "type": "string",
                      "format": "uri"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "page_size": {
                      "type": "integer"
                    },
                    "previous_page_uri": {
                      "type": "string",
                      "format": "uri"
                    },
                    "start": {
                      "type": "integer"
                    },
                    "uri": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "description": "Twilio accounts (aka Project) or subaccounts"
    },
    "/2010-04-01/Accounts/{Sid}.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "get": {
        "description": "Fetch the account specified by the provided Account Sid",
        "parameters": [
          {
            "name": "Sid",
            "in": "path",
            "description": "Fetch by unique Account Sid",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.v2010.account"
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "post": {
        "description": "Modify the properties of a given Account",
        "parameters": [
          {
            "name": "Sid",
            "in": "path",
            "description": "Update by unique Account Sid",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "FriendlyName",
            "in": "query",
            "description": "FriendlyName to update",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Status",
            "in": "query",
            "description": "Status to update the Account with",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "suspended",
                "closed"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.v2010.account"
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "description": "Twilio accounts (aka Project) or subaccounts"
    },
    "/2010-04-01/Accounts/{AccountSid}/Addresses.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "post": {
        "description": null,
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": "The SID of the Account that will be responsible for the new Address resource",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "CustomerName",
            "in": "query",
            "description": "The name to associate with the new address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Street",
            "in": "query",
            "description": "The number and street address of the new address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "City",
            "in": "query",
            "description": "The city of the new address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Region",
            "in": "query",
            "description": "The state or region of the new address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PostalCode",
            "in": "query",
            "description": "The postal code of the new address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IsoCountry",
            "in": "query",
            "description": "The ISO country code of the new address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FriendlyName",
            "in": "query",
            "description": "A string to describe the new resource",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EmergencyEnabled",
            "in": "query",
            "description": "Whether to enable emergency calling on the new address",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "AutoCorrectAddress",
            "in": "query",
            "description": "Whether we should automatically correct the address",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.v2010.account.address"
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "get": {
        "description": null,
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": "The SID of the Account that is responsible for this address",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "CustomerName",
            "in": "query",
            "description": "The `customer_name` of the Address resources to read",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FriendlyName",
            "in": "query",
            "description": "The string that identifies the Address resources to read",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IsoCountry",
            "in": "query",
            "description": "The ISO country code of the Address resources to read",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "addresses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/api.v2010.account.address"
                      }
                    },
                    "end": {
                      "type": "integer"
                    },
                    "first_page_uri": {
                      "type": "string",
                      "format": "uri"
                    },
                    "next_page_uri": {
                      "type": "string",
                      "format": "uri"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "page_size": {
                      "type": "integer"
                    },
                    "previous_page_uri": {
                      "type": "string",
                      "format": "uri"
                    },
                    "start": {
                      "type": "integer"
                    },
                    "uri": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "description": "Physical locations within a country"
    },
    "/2010-04-01/Accounts/{AccountSid}/Addresses/{Sid}.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "delete": {
        "description": null,
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": "The SID of the Account that is responsible for the resources to delete",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "Sid",
            "in": "path",
            "description": "The unique string that identifies the resource",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AD[0-9a-fA-F]{32}$"
            }
          }
        ],
        "responses": {
          "204": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "get": {
        "description": null,
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": "The SID of the Account that is responsible for this address",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "Sid",
            "in": "path",
            "description": "The unique string that identifies the resource",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AD[0-9a-fA-F]{32}$"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.v2010.account.address"
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "post": {
        "description": null,
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": "The SID of the Account that is responsible for the resource to update",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "Sid",
            "in": "path",
            "description": "The unique string that identifies the resource",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AD[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "FriendlyName",
            "in": "query",
            "description": "A string to describe the resource",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerName",
            "in": "query",
            "description": "The name to associate with the address",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Street",
            "in": "query",
            "description": "The number and street address of the address",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "City",
            "in": "query",
            "description": "The city of the address",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Region",
            "in": "query",
            "description": "The state or region of the address",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PostalCode",
            "in": "query",
            "description": "The postal code of the address",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EmergencyEnabled",
            "in": "query",
            "description": "Whether to enable emergency calling on the address",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "AutoCorrectAddress",
            "in": "query",
            "description": "Whether we should automatically correct the address",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.v2010.account.address"
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "description": "Physical locations within a country"
    },
    "/2010-04-01/Accounts/{AccountSid}/Applications.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "post": {
        "description": "Create a new application within your account",
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": "The SID of the Account that will create the resource",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "FriendlyName",
            "in": "query",
            "description": "A string to describe the new resource",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiVersion",
            "in": "query",
            "description": "The API version to use to start a new TwiML session",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "VoiceUrl",
            "in": "query",
            "description": "The URL to call when the phone number receives a call",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "VoiceMethod",
            "in": "query",
            "description": "The HTTP method to use with the voice_url",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "head",
                "get",
                "post",
                "patch",
                "put",
                "delete",
                "HEAD",
                "GET",
                "POST",
                "PATCH",
                "PUT",
                "DELETE"
              ]
            }
          },
          {
            "name": "VoiceFallbackUrl",
            "in": "query",
            "description": "The URL to call when a TwiML error occurs",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "VoiceFallbackMethod",
            "in": "query",
            "description": "The HTTP method to use with voice_fallback_url",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "head",
                "get",
                "post",
                "patch",
                "put",
                "delete",
                "HEAD",
                "GET",
                "POST",
                "PATCH",
                "PUT",
                "DELETE"
              ]
            }
          },
          {
            "name": "StatusCallback",
            "in": "query",
            "description": "The URL to send status information to your application",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "StatusCallbackMethod",
            "in": "query",
            "description": "The HTTP method to use to call status_callback",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "head",
                "get",
                "post",
                "patch",
                "put",
                "delete",
                "HEAD",
                "GET",
                "POST",
                "PATCH",
                "PUT",
                "DELETE"
              ]
            }
          },
          {
            "name": "VoiceCallerIdLookup",
            "in": "query",
            "description": "Whether to lookup the caller's name",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "SmsUrl",
            "in": "query",
            "description": "The URL to call when the phone number receives an incoming SMS message",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "SmsMethod",
            "in": "query",
            "description": "The HTTP method to use with sms_url",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "head",
                "get",
                "post",
                "patch",
                "put",
                "delete",
                "HEAD",
                "GET",
                "POST",
                "PATCH",
                "PUT",
                "DELETE"
              ]
            }
          },
          {
            "name": "SmsFallbackUrl",
            "in": "query",
            "description": "The URL to call when an error occurs while retrieving or executing the TwiML",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "SmsFallbackMethod",
            "in": "query",
            "description": "The HTTP method to use with sms_fallback_url",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "head",
                "get",
                "post",
                "patch",
                "put",
                "delete",
                "HEAD",
                "GET",
                "POST",
                "PATCH",
                "PUT",
                "DELETE"
              ]
            }
          },
          {
            "name": "SmsStatusCallback",
            "in": "query",
            "description": "The URL to send status information to your application",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "MessageStatusCallback",
            "in": "query",
            "description": "The URL to send message status information to your application",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.v2010.account.application"
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "get": {
        "description": "Retrieve a list of applications representing an application within the requesting account",
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": "The SID of the Account that created the resources to read",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "FriendlyName",
            "in": "query",
            "description": "The string that identifies the Application resources to read",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "applications": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/api.v2010.account.application"
                      }
                    },
                    "end": {
                      "type": "integer"
                    },
                    "first_page_uri": {
                      "type": "string",
                      "format": "uri"
                    },
                    "next_page_uri": {
                      "type": "string",
                      "format": "uri"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "page_size": {
                      "type": "integer"
                    },
                    "previous_page_uri": {
                      "type": "string",
                      "format": "uri"
                    },
                    "start": {
                      "type": "integer"
                    },
                    "uri": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "description": "Applications that you have created with Twilio"
    },
    "/2010-04-01/Accounts/{AccountSid}/Applications/{Sid}.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "delete": {
        "description": "Delete the application by the specified application sid",
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": "The SID of the Account that created the resources to delete",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "Sid",
            "in": "path",
            "description": "The unique string that identifies the resource",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AP[0-9a-fA-F]{32}$"
            }
          }
        ],
        "responses": {
          "204": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "get": {
        "description": "Fetch the application specified by the provided sid",
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": "The SID of the Account that created the resource to fetch",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "Sid",
            "in": "path",
            "description": "The unique string that identifies the resource",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AP[0-9a-fA-F]{32}$"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.v2010.account.application"
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "post": {
        "description": "Updates the application's properties",
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": "The SID of the Account that will create the resource",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "Sid",
            "in": "path",
            "description": "The unique string that identifies the resource",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AP[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "FriendlyName",
            "in": "query",
            "description": "A string to describe the resource",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiVersion",
            "in": "query",
            "description": "The API version to use to start a new TwiML session",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "VoiceUrl",
            "in": "query",
            "description": "The URL to call when the phone number receives a call",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "VoiceMethod",
            "in": "query",
            "description": "The HTTP method to use with the voice_url",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "head",
                "get",
                "post",
                "patch",
                "put",
                "delete",
                "HEAD",
                "GET",
                "POST",
                "PATCH",
                "PUT",
                "DELETE"
              ]
            }
          },
          {
            "name": "VoiceFallbackUrl",
            "in": "query",
            "description": "The URL to call when a TwiML error occurs",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "VoiceFallbackMethod",
            "in": "query",
            "description": "The HTTP method to use with voice_fallback_url",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "head",
                "get",
                "post",
                "patch",
                "put",
                "delete",
                "HEAD",
                "GET",
                "POST",
                "PATCH",
                "PUT",
                "DELETE"
              ]
            }
          },
          {
            "name": "StatusCallback",
            "in": "query",
            "description": "The URL to send status information to your application",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "StatusCallbackMethod",
            "in": "query",
            "description": "The HTTP method to use to call status_callback",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "head",
                "get",
                "post",
                "patch",
                "put",
                "delete",
                "HEAD",
                "GET",
                "POST",
                "PATCH",
                "PUT",
                "DELETE"
              ]
            }
          },
          {
            "name": "VoiceCallerIdLookup",
            "in": "query",
            "description": "Whether to lookup the caller's name",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "SmsUrl",
            "in": "query",
            "description": "The URL to call when the phone number receives an incoming SMS message",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "SmsMethod",
            "in": "query",
            "description": "The HTTP method to use with sms_url",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "head",
                "get",
                "post",
                "patch",
                "put",
                "delete",
                "HEAD",
                "GET",
                "POST",
                "PATCH",
                "PUT",
                "DELETE"
              ]
            }
          },
          {
            "name": "SmsFallbackUrl",
            "in": "query",
            "description": "The URL to call when an error occurs while retrieving or executing the TwiML",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "SmsFallbackMethod",
            "in": "query",
            "description": "The HTTP method to use with sms_fallback_url",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "head",
                "get",
                "post",
                "patch",
                "put",
                "delete",
                "HEAD",
                "GET",
                "POST",
                "PATCH",
                "PUT",
                "DELETE"
              ]
            }
          },
          {
            "name": "SmsStatusCallback",
            "in": "query",
            "description": "The URL to send status information to your application",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "MessageStatusCallback",
            "in": "query",
            "description": "The URL to send message status information to your application",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.v2010.account.application"
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "description": "Applications that you have created with Twilio"
    },
    "/2010-04-01/Accounts/{AccountSid}/AuthorizedConnectApps.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "get": {
        "description": "Retrieve a list of authorized-connect-apps belonging to the account used to make the request",
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": "The SID of the Account that created the resources to read",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "authorized_connect_apps": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/api.v2010.account.authorized_connect_app"
                      }
                    },
                    "end": {
                      "type": "integer"
                    },
                    "first_page_uri": {
                      "type": "string",
                      "format": "uri"
                    },
                    "next_page_uri": {
                      "type": "string",
                      "format": "uri"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "page_size": {
                      "type": "integer"
                    },
                    "previous_page_uri": {
                      "type": "string",
                      "format": "uri"
                    },
                    "start": {
                      "type": "integer"
                    },
                    "uri": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "description": "Authorized Twilio Connect apps"
    },
    "/2010-04-01/Accounts/{AccountSid}/AuthorizedConnectApps/{ConnectAppSid}.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "get": {
        "description": "Fetch an instance of an authorized-connect-app",
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": "The SID of the Account that created the resource to fetch",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "ConnectAppSid",
            "in": "path",
            "description": "The SID of the Connect App to fetch",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^CN[0-9a-fA-F]{32}$"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.v2010.account.authorized_connect_app"
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "description": "Authorized Twilio Connect apps"
    },
    "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "get": {
        "description": null,
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": "The SID of the Account requesting the available phone number Country resources",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "countries": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/api.v2010.account.available_phone_number_country"
                      }
                    },
                    "end": {
                      "type": "integer"
                    },
                    "first_page_uri": {
                      "type": "string",
                      "format": "uri"
                    },
                    "next_page_uri": {
                      "type": "string",
                      "format": "uri"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "page_size": {
                      "type": "integer"
                    },
                    "previous_page_uri": {
                      "type": "string",
                      "format": "uri"
                    },
                    "start": {
                      "type": "integer"
                    },
                    "uri": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "description": "TODO: Resource-level docs"
    },
    "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "get": {
        "description": null,
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": "The SID of the Account requesting the available phone number Country resource",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "CountryCode",
            "in": "path",
            "description": "The ISO country code of the country to fetch available phone number information about",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.v2010.account.available_phone_number_country"
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "description": "TODO: Resource-level docs"
    },
    "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/Local.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "get": {
        "description": null,
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": "The SID of the Account requesting the AvailablePhoneNumber resources",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "CountryCode",
            "in": "path",
            "description": "The ISO Country code of the country from which to read phone numbers",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AreaCode",
            "in": "query",
            "description": "The area code of the phone numbers to read",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Contains",
            "in": "query",
            "description": "The pattern on which to match phone numbers",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SmsEnabled",
            "in": "query",
            "description": "Whether the phone numbers can receive text messages",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "MmsEnabled",
            "in": "query",
            "description": "Whether the phone numbers can receive MMS messages",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "VoiceEnabled",
            "in": "query",
            "description": "Whether the phone numbers can receive calls.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeAllAddressRequired",
            "in": "query",
            "description": "Whether to exclude phone numbers that require an Address",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeLocalAddressRequired",
            "in": "query",
            "description": "Whether to exclude phone numbers that require a local address",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeForeignAddressRequired",
            "in": "query",
            "description": "Whether to exclude phone numbers that require a foreign address",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Beta",
            "in": "query",
            "description": "Whether to read phone numbers new to the Twilio platform",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "NearNumber",
            "in": "query",
            "description": "Given a phone number, find a geographically close number within distance miles. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NearLatLong",
            "in": "query",
            "description": "Given a latitude/longitude pair lat,long find geographically close numbers within distance miles. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Distance",
            "in": "query",
            "description": "The search radius, in miles, for a near_ query. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "InPostalCode",
            "in": "query",
            "description": "Limit results to a particular postal code. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InRegion",
            "in": "query",
            "description": "Limit results to a particular region. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InRateCenter",
            "in": "query",
            "description": "Limit results to a specific rate center, or given a phone number search within the same rate center as that number. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InLata",
            "in": "query",
            "description": "Limit results to a specific local access and transport area. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InLocality",
            "in": "query",
            "description": "Limit results to a particular locality",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FaxEnabled",
            "in": "query",
            "description": "Whether the phone numbers can receive faxes",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "available_phone_numbers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/api.v2010.account.available_phone_number_country.available_phone_number_local"
                      }
                    },
                    "end": {
                      "type": "integer"
                    },
                    "first_page_uri": {
                      "type": "string",
                      "format": "uri"
                    },
                    "next_page_uri": {
                      "type": "string",
                      "format": "uri"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "page_size": {
                      "type": "integer"
                    },
                    "previous_page_uri": {
                      "type": "string",
                      "format": "uri"
                    },
                    "start": {
                      "type": "integer"
                    },
                    "uri": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "description": "Available local phone numbers"
    },
    "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/MachineToMachine.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "get": {
        "description": null,
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": "The SID of the Account requesting the AvailablePhoneNumber resources",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "CountryCode",
            "in": "path",
            "description": "The ISO Country code of the country from which to read phone numbers",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AreaCode",
            "in": "query",
            "description": "The area code of the phone numbers to read",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Contains",
            "in": "query",
            "description": "The pattern on which to match phone numbers",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SmsEnabled",
            "in": "query",
            "description": "Whether the phone numbers can receive text messages",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "MmsEnabled",
            "in": "query",
            "description": "Whether the phone numbers can receive MMS messages",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "VoiceEnabled",
            "in": "query",
            "description": "Whether the phone numbers can receive calls.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeAllAddressRequired",
            "in": "query",
            "description": "Whether to exclude phone numbers that require an Address",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeLocalAddressRequired",
            "in": "query",
            "description": "Whether to exclude phone numbers that require a local address",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeForeignAddressRequired",
            "in": "query",
            "description": "Whether to exclude phone numbers that require a foreign address",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Beta",
            "in": "query",
            "description": "Whether to read phone numbers new to the Twilio platform",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "NearNumber",
            "in": "query",
            "description": "Given a phone number, find a geographically close number within distance miles. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NearLatLong",
            "in": "query",
            "description": "Given a latitude/longitude pair lat,long find geographically close numbers within distance miles. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Distance",
            "in": "query",
            "description": "The search radius, in miles, for a near_ query. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "InPostalCode",
            "in": "query",
            "description": "Limit results to a particular postal code. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InRegion",
            "in": "query",
            "description": "Limit results to a particular region. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InRateCenter",
            "in": "query",
            "description": "Limit results to a specific rate center, or given a phone number search within the same rate center as that number. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InLata",
            "in": "query",
            "description": "Limit results to a specific local access and transport area. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InLocality",
            "in": "query",
            "description": "Limit results to a particular locality",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FaxEnabled",
            "in": "query",
            "description": "Whether the phone numbers can receive faxes",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "available_phone_numbers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/api.v2010.account.available_phone_number_country.available_phone_number_machine_to_machine"
                      }
                    },
                    "end": {
                      "type": "integer"
                    },
                    "first_page_uri": {
                      "type": "string",
                      "format": "uri"
                    },
                    "next_page_uri": {
                      "type": "string",
                      "format": "uri"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "page_size": {
                      "type": "integer"
                    },
                    "previous_page_uri": {
                      "type": "string",
                      "format": "uri"
                    },
                    "start": {
                      "type": "integer"
                    },
                    "uri": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "description": "TODO: Resource-level docs"
    },
    "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/Mobile.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "get": {
        "description": null,
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": "The SID of the Account requesting the AvailablePhoneNumber resources",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "CountryCode",
            "in": "path",
            "description": "The ISO Country code of the country from which to read phone numbers",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AreaCode",
            "in": "query",
            "description": "The area code of the phone numbers to read",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Contains",
            "in": "query",
            "description": "The pattern on which to match phone numbers",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SmsEnabled",
            "in": "query",
            "description": "Whether the phone numbers can receive text messages",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "MmsEnabled",
            "in": "query",
            "description": "Whether the phone numbers can receive MMS messages",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "VoiceEnabled",
            "in": "query",
            "description": "Whether the phone numbers can receive calls.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeAllAddressRequired",
            "in": "query",
            "description": "Whether to exclude phone numbers that require an Address",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeLocalAddressRequired",
            "in": "query",
            "description": "Whether to exclude phone numbers that require a local address",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeForeignAddressRequired",
            "in": "query",
            "description": "Whether to exclude phone numbers that require a foreign address",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Beta",
            "in": "query",
            "description": "Whether to read phone numbers new to the Twilio platform",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "NearNumber",
            "in": "query",
            "description": "Given a phone number, find a geographically close number within distance miles. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NearLatLong",
            "in": "query",
            "description": "Given a latitude/longitude pair lat,long find geographically close numbers within distance miles. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Distance",
            "in": "query",
            "description": "The search radius, in miles, for a near_ query. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "InPostalCode",
            "in": "query",
            "description": "Limit results to a particular postal code. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InRegion",
            "in": "query",
            "description": "Limit results to a particular region. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InRateCenter",
            "in": "query",
            "description": "Limit results to a specific rate center, or given a phone number search within the same rate center as that number. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InLata",
            "in": "query",
            "description": "Limit results to a specific local access and transport area. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InLocality",
            "in": "query",
            "description": "Limit results to a particular locality",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FaxEnabled",
            "in": "query",
            "description": "Whether the phone numbers can receive faxes",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "available_phone_numbers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/api.v2010.account.available_phone_number_country.available_phone_number_mobile"
                      }
                    },
                    "end": {
                      "type": "integer"
                    },
                    "first_page_uri": {
                      "type": "string",
                      "format": "uri"
                    },
                    "next_page_uri": {
                      "type": "string",
                      "format": "uri"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "page_size": {
                      "type": "integer"
                    },
                    "previous_page_uri": {
                      "type": "string",
                      "format": "uri"
                    },
                    "start": {
                      "type": "integer"
                    },
                    "uri": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "description": "Available mobile phone numbers"
    },
    "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/National.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "get": {
        "description": null,
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": "The SID of the Account requesting the AvailablePhoneNumber resources",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "CountryCode",
            "in": "path",
            "description": "The ISO Country code of the country from which to read phone numbers",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AreaCode",
            "in": "query",
            "description": "The area code of the phone numbers to read",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Contains",
            "in": "query",
            "description": "The pattern on which to match phone numbers",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SmsEnabled",
            "in": "query",
            "description": "Whether the phone numbers can receive text messages",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "MmsEnabled",
            "in": "query",
            "description": "Whether the phone numbers can receive MMS messages",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "VoiceEnabled",
            "in": "query",
            "description": "Whether the phone numbers can receive calls.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeAllAddressRequired",
            "in": "query",
            "description": "Whether to exclude phone numbers that require an Address",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeLocalAddressRequired",
            "in": "query",
            "description": "Whether to exclude phone numbers that require a local address",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeForeignAddressRequired",
            "in": "query",
            "description": "Whether to exclude phone numbers that require a foreign address",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Beta",
            "in": "query",
            "description": "Whether to read phone numbers new to the Twilio platform",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "NearNumber",
            "in": "query",
            "description": "Given a phone number, find a geographically close number within distance miles. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NearLatLong",
            "in": "query",
            "description": "Given a latitude/longitude pair lat,long find geographically close numbers within distance miles. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Distance",
            "in": "query",
            "description": "The search radius, in miles, for a near_ query. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "InPostalCode",
            "in": "query",
            "description": "Limit results to a particular postal code. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InRegion",
            "in": "query",
            "description": "Limit results to a particular region. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InRateCenter",
            "in": "query",
            "description": "Limit results to a specific rate center, or given a phone number search within the same rate center as that number. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InLata",
            "in": "query",
            "description": "Limit results to a specific local access and transport area. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InLocality",
            "in": "query",
            "description": "Limit results to a particular locality",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FaxEnabled",
            "in": "query",
            "description": "Whether the phone numbers can receive faxes",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "available_phone_numbers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/api.v2010.account.available_phone_number_country.available_phone_number_national"
                      }
                    },
                    "end": {
                      "type": "integer"
                    },
                    "first_page_uri": {
                      "type": "string",
                      "format": "uri"
                    },
                    "next_page_uri": {
                      "type": "string",
                      "format": "uri"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "page_size": {
                      "type": "integer"
                    },
                    "previous_page_uri": {
                      "type": "string",
                      "format": "uri"
                    },
                    "start": {
                      "type": "integer"
                    },
                    "uri": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ]
      },
      "description": "TODO: Resource-level docs"
    },
    "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/SharedCost.json": {
      "servers": [
        {
          "url": "https://api.twilio.com"
        }
      ],
      "get": {
        "description": null,
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "description": "The SID of the Account requesting the AvailablePhoneNumber resources",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 34,
              "maxLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$"
            }
          },
          {
            "name": "CountryCode",
            "in": "path",
            "description": "The ISO Country code of the country from which to read phone numbers",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AreaCode",
            "in": "query",
            "description": "The area code of the phone numbers to read",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Contains",
            "in": "query",
            "description": "The pattern on which to match phone numbers",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SmsEnabled",
            "in": "query",
            "description": "Whether the phone numbers can receive text messages",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "MmsEnabled",
            "in": "query",
            "description": "Whether the phone numbers can receive MMS messages",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "VoiceEnabled",
            "in": "query",
            "description": "Whether the phone numbers can receive calls.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeAllAddressRequired",
            "in": "query",
            "description": "Whether to exclude phone numbers that require an Address",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeLocalAddressRequired",
            "in": "query",
            "description": "Whether to exclude phone numbers that require a local address",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExcludeForeignAddressRequired",
            "in": "query",
            "description": "Whether to exclude phone numbers that require a foreign address",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Beta",
            "in": "query",
            "description": "Whether to read phone numbers new to the Twilio platform",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "NearNumber",
            "in": "query",
            "description": "Given a phone number, find a geographically close number within distance miles. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NearLatLong",
            "in": "query",
            "description": "Given a latitude/longitude pair lat,long find geographically close numbers within distance miles. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Distance",
            "in": "query",
            "description": "The search radius, in miles, for a near_ query. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "InPostalCode",
            "in": "query",
            "description": "Limit results to a particular postal code. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InRegion",
            "in": "query",
            "description": "Limit results to a particular region. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InRateCenter",
            "in": "query",
            "description": "Limit results to a specific rate center, or given a phone number search within the same rate center as that number. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InLata",
            "in": "query",
            "description": "Limit results to a specific local access and transport area. (US/Canada only)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InLocality",
            "in": "query",
            "description": "Limit results to a particular locality",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FaxEnabled",
            "in": "query",
            "description": "Whether the phone numbers can receive faxes",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "available_phone_numbers": {
[...]
