version: 1.0.{build}
image: Visual Studio 2022
#build:
#  verbosity: minimal
environment:
  nodejs_version: LTS
cache:
  - '%AppData%\npm-cache -> appveyor.yml'
  - node_modules -> package-lock.json

install:
  - ps: Install-Product node $env:nodejs_version x64
  - npm install
test_script:
  - .\bin\run --version
  - .\bin\run --help
  - .\bin\run plugins
  - echo y | .\bin\run watch
  - npm test

build: off
