name: Slack Notification

on:
  workflow_dispatch:
  workflow_run:
    workflows:
      - Cli Release
    branches: [main]
    types:
      - completed
jobs:
  wait-for-releases:
    name: Wait for Docker, Homebrew, RPM and Platform executables Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout cli repo
        uses: actions/checkout@v2
      - name: Wait for Docker Release
        run: source .github/scripts/trigger-and-wait.sh
        env:
          INPUT_OWNER: ravali-rimmalapudi
          INPUT_REPO: twilio-cli
          INPUT_GITHUB_TOKEN: ${{ secrets.REPO_ACCESS_TOKEN }}
          INPUT_WORKFLOW_FILE_NAME: docker-release.yml
          INPUT_REF: main
          INPUT_WAITING_INTERVAL: 10
          INPUT_PROPAGATE_FAILURE: true
          INPUT_TRIGGER_WORKFLOW: false
      - name: Wait for Oclif Release
        run: source .github/scripts/trigger-and-wait.sh
        env:
          INPUT_OWNER: ravali-rimmalapudi
          INPUT_REPO: twilio-cli
          INPUT_GITHUB_TOKEN: ${{ secrets.REPO_ACCESS_TOKEN }}
          INPUT_WORKFLOW_FILE_NAME: oclif-release.yml
          INPUT_REF: main
          INPUT_WAITING_INTERVAL: 10
          INPUT_PROPAGATE_FAILURE: true
          INPUT_TRIGGER_WORKFLOW: false
      - name: Wait for Platform Executables Release
        run: source .github/scripts/trigger-and-wait.sh
        env:
          INPUT_OWNER: ravali-rimmalapudi
          INPUT_REPO: twilio-cli
          INPUT_GITHUB_TOKEN: ${{ secrets.REPO_ACCESS_TOKEN }}
          INPUT_WORKFLOW_FILE_NAME: platform-executables.yml
          INPUT_REF: main
          INPUT_WAITING_INTERVAL: 10
          INPUT_PROPAGATE_FAILURE: true
          INPUT_TRIGGER_WORKFLOW: false
      - name: Wait for RPM Build
        run: source .github/scripts/trigger-and-wait.sh
        env:
          INPUT_OWNER: ravali-rimmalapudi
          INPUT_REPO: twilio-cli
          INPUT_GITHUB_TOKEN: ${{ secrets.REPO_ACCESS_TOKEN }}
          INPUT_WORKFLOW_FILE_NAME: rpmbuild.yml
          INPUT_REF: main
          INPUT_WAITING_INTERVAL: 10
          INPUT_PROPAGATE_FAILURE: true
          INPUT_TRIGGER_WORKFLOW: false
  notify-complete-success:
    needs: [ wait-for-releases ]
    name: Notify Release Completed
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEB_HOOK }}
          SLACK_COLOR: "#36a64f"
          SLACK_USERNAME: CLI Release Bot
          SLACK_ICON_EMOJI: ":ship:"
          SLACK_TITLE: 'Twilio CLI'
          SLACK_MESSAGE: 'Release Completed.'
          MSG_MINIMAL: actions url  
